<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav-admin.ejs') %> 
    <div class="container">
        <div class="header-box">
                <h5>Users (<%= users.length %> ) </h5>
                <div class="top-right-btns">
                  <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
                  <a href="/admin/dashboard" class="waves-effect waves-light btn">Admin Dashboard</a>
                </div>
        </div>
        <table class="responsive-table">
            <thead>
              <tr>
                  <th>Email</th>
                  <th>First Name <i class="fa-solid fa-sort" style="cursor:pointer;" ></i></th>
                  <th>Last Name <i class="fa-solid fa-sort" style="cursor:pointer;"></i></th>
                  <th>Joined <i class="fa-solid fa-sort" style="cursor:pointer;"></i></th>
                  <th>Role <i class="fa-solid fa-sort" style="cursor:pointer;"></i></th>
                  <th>Actions</th>
              </tr>
            </thead>
    
            <tbody>
              <% for( let user of users ) { %>
                <tr>
                    <td><%= user.email %> </td>
                    <td><%= user.firstName %> </td>
                    <td><%= user.lastName %> </td>
                    <td><%= user.joinDate %> </td>
                    <td><%= user.role %> </td>
                    <td>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>...</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                          <li><a href="#!">View</a></li>
                          <li><a href="#!">Edit</a></li>
                          <li><a href="#!">Delete</a></li>
                        </ul>
                    </td>
                  </tr>
              
              <% } %>
            </tbody>
          </table>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
        const logout = () =>{
                window.location.href = "/auth/logout" 
        }


    </script>

</body>
</html>