<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav-admin.ejs') %> 
    <div class="container">
        <div class="header-box">
                <h5>Users (<%= users.length %> ) </h5>
                <div class="top-right-btns">
                  <a href="#" class="waves-effect waves-purple btn extra-button">Create New</a>
                  <a href="#" class="waves-effect waves-light btn">Filter</a>
                </div>
        </div>
        <div id="selected-box" class= "hidden">
          <p>Selected (<span id="numselected"></span>)</p>
          <a class="waves-effect waves-light btn-small">Delete</a>
        </div>
        <div style="overflow-x:auto;">
          <table class="highlight" id="usertable">
          </table>
        </div>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script src="/js/publicViews.js"></script>
    <script>
      const data = <%- JSON.stringify(users) %>
      fillTable('usertable', data)
      let checkedIds = []

        const checkboxes = document.querySelectorAll(`[id^="sel_"]`)
        const selectAllCheckboxes = document.getElementById('all-checkboxes')
        const selectedBox = document.getElementById('selected-box')
        const numselected = document.getElementById('numselected')
      
        for (let checkbox of checkboxes){
          if (checkbox.checked === true){//reset all checkboxes when table loads
            checkbox.checked=false
          }
          checkbox.addEventListener('change', function() {
            const checkedId = this.id.split('_')[1]
            if (this.checked) {
              checkedIds.push(checkedId)
            } else {
              checkedIds = checkedIds.filter(el=>el!==checkedId)
            }
            if (checkedIds.length>0){
              selectedBox.classList.remove('hidden')
              numselected.innerHTML = checkedIds.length
            } else {
              selectedBox.classList.add('hidden')
            }
          })
          
        }

        selectAllCheckboxes.addEventListener('change', function(){
          if (this.checked){
            checkedIds = []
            for (let checkbox of checkboxes){
              checkbox.checked = true
              const checkedId = checkbox.id.split('_')[1]
              checkedIds.push(checkedId)
            }
            selectedBox.classList.remove('hidden')
            numselected.innerHTML = checkedIds.length
          }
          else {
            for (let checkbox of checkboxes){
              checkbox.checked = false
            }
            checkedIds = []
            selectedBox.classList.add('hidden')
            numselected.innerHTML = checkedIds.length
          }
          
        })

        const logout = () =>{
                window.location.href = "/auth/logout" 
        }

    </script>

</body>
</html>