<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <title>Dashboard</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('../partials/nav-admin.ejs') %> 
    <div class="container">
        <div class="header-box">
                <h5>Users (<%= users.length %> ) </h5>
                <div class="top-right-btns">
                  <a href="#" class="waves-effect waves-purple btn extra-button">Create New</a>
                  <a href="#" class="waves-effect waves-light btn">Filter</a>
                </div>
        </div>
        <div id="selected-box" class= "hidden">
          <p>Selected (<span id="numselected"></span>)</p>
          <a class="waves-effect waves-light btn-small">Delete All</a>
        </div>
        <table class="responsive-table">
            <thead style="border: 2px solid black;">
              <tr>
                  <th>
                    <label>
                      <input type="checkbox" class="filled-in" id="all-checkboxes"/>
                      <span></span>
                    </label>
                  </th>
                  <th>Email</th>
                  <th style="cursor:pointer;">First Name <i class="fa-solid fa-sort-up "></i><i class="fa-solid fa-sort-down hidden"></i></th>
                  <th>Last Name</th>
                  <th>Joined </th>
                  <th>Role</th>
                  <th>Actions</th>
              </tr>
            </thead>
    
            <tbody>
              <% for( let user of users ) { %>
                <tr>
                  <td>
                    <label>
                      <input type="checkbox" id=<%='sel_'+user._id %> >
                      <span></span>
                    </label>
                  </td>
                    <td><%= user.email %> </td>
                    <td><%= user.firstName %> </td>
                    <td><%= user.lastName %> </td>
                    <td><%= user.joinDate %> </td>
                    <td><%= user.role %> </td>
                    <td>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn' href='#' data-target=<%= user._id %>>...</a>

                        <!-- Dropdown Structure -->
                        <ul id=<%= user._id %> class='dropdown-content'>
                          <li><a href="#!">View</a></li>
                          <li><a href="#!">Edit</a></li>
                          <li><a href="#!">Delete</a></li>
                        </ul>
                    </td>
                  </tr>
              
              <% } %>
            </tbody>
          </table>

    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
      let checkedIds = []

        const checkboxes = document.querySelectorAll(`[id^="sel_"]`)
        const selectAllCheckboxes = document.getElementById('all-checkboxes')
        const selectedBox = document.getElementById('selected-box')
        const numselected = document.getElementById('numselected')
      
        for (let checkbox of checkboxes){
          if (checkbox.checked === true){//reset all checkboxes when table loads
            checkbox.checked=false
          }
          checkbox.addEventListener('change', function() {
            const checkedId = this.id.split('_')[1]
            if (this.checked) {
              checkedIds.push(checkedId)
            } else {
              checkedIds = checkedIds.filter(el=>el!==checkedId)
            }
            if (checkedIds.length>0){
              selectedBox.classList.remove('hidden')
              numselected.innerHTML = checkedIds.length
            } else {
              selectedBox.classList.add('hidden')
            }
          })
          
        }

        selectAllCheckboxes.addEventListener('change', function(){
          if (this.checked){
            checkedIds = []
            for (let checkbox of checkboxes){
              checkbox.checked = true
              const checkedId = checkbox.id.split('_')[1]
              checkedIds.push(checkedId)
            }
            selectedBox.classList.remove('hidden')
            numselected.innerHTML = checkedIds.length
          }
          else {
            for (let checkbox of checkboxes){
              checkbox.checked = false
            }
            checkedIds = []
            selectedBox.classList.add('hidden')
            numselected.innerHTML = checkedIds.length
          }
          
        })

        const logout = () =>{
                window.location.href = "/auth/logout" 
        }

    </script>

</body>
</html>