<!DOCTYPE html>
<html lang="en">
    <%- include('header'); %>
    <title>Edit Story</title>
</head>
<body>
    <%- include('nav.ejs') %> 
<div class="container">
    <h3>Edit Story</h3>
    <div class="row">
        <form method="POST" action="/stories/<%= story._id %>?_method=PUT" class="col s12" id="addStoryForm">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="title" name="title" value="<%= story.title %>" required/>
                    <label for="title">Title</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <select name="status" id="status">
                        <option value="public" <%= story.status === 'public' ? 'selected' : ''%>>Public</option>
                        <option value="private" <%= story.status === 'private' ? 'selected' : ''%>>Private</option>
                    </select>
                    <label for="status">Status</label>
                </div>
            </div>
    
            <div class="row">
                <div class="input-field">
                    <h5>Tell Us Your Story</h5>
                    <textarea name="body" id="storybody" required><%= story.body %></textarea>
                </div>
            </div>
    
            <div class="row">
                <a class="btn blue darken-1" onclick="formSubmit()">Save</a>
                <a href="/dashboard" class="btn orange">Cancel</a>
            </div>
        </form>
    </div>
</div>
<%- include('footer.ejs') %> 
<script>
    const formSubmit = () =>{

        const form = document.getElementById('addStoryForm')
        const title = document.getElementById('title').value
        const storybody = CKEDITOR.instances['storybody'].getData()

        if (title===""){
            alert("Title cannot be empty")
            return
        }
        if(storybody===""){
            alert("Story body cannot be empty")
            return
        }
        form.submit()
    }
</script>
</body>
</html>
