<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <title>Dashboard</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container login-container">
        <div>
            <h6>Dashboard</h6>
            <h3>Welcome, <%= firstName %> </h3>
            <p>Here are your stories</p>
        </div>
        <% if (stories.length!==0) { %>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% stories.forEach(el => { %>
                        <tr>
                            <td><a href="/stories/"<%= el._id %> ></a><%= el.title%></td>
                            <td><%= el.createdAt %> </td>
                            <td><span class="dash-status"><%= el.status %> </span></td>
                            <td></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>You have not created any stories</p>
        <% } %>
    </div>
    <%- include('partials/add-btn.ejs') %> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.Sidenav.init(document.querySelector(".sidenav"))
    </script>
</body>
</html>