<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <title>Dashboard</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div>
                <h3>Welcome, <%= firstName %> </h3>
            </div>
            <a href="/stories" class="waves-effect waves-purple btn extra-button">Public Stories</a>
        </div>
        <% if (trendingStories) { %>
            <div class="likedHeaderBaap">
                <h5>Trending Stories: </h5>
                <a class="waves-effect waves-light btn btn-space"  onclick="toggleTrending()"><span id="showHideTrendingStories" >Hide</span></a>
            </div>
            <table class="highlight dashboard-table" id="trendingStoriesTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <% trendingStories.forEach(el => { %>
                        <tr>
                            <td>
                                <a href="stories/<%= el._id %>"  ><%= el.title%> </a> 
                                <% if (el.likes) { %>
                                    <span id="hello" class="public__votenum hide-on-small"><%= el.likes %> <%= el.likes===1 ? "like" : "likes" %> </span>
                                <% } %>
                            </td>
                            <td><%= el.user.firstName+" "+el.user.lastName %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>

        <div class="likedHeaderBaap">
            <h5>Popular Authors: </h5>
            <a class="waves-effect waves-light btn btn-space"  onclick="toggleTrending()"><span id="showHideTrendingAuthors" >Hide</span></a>
        </div>
        <table class="highlight dashboard-table" id="trendingAuthorsTable">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Total Stories</th>
                    <th>Total Likes</th>
                </tr>
            </thead>
            <tbody>
                <% popularAuthors.forEach(el => { %>
                    <tr>
                        <td>
                            <%= el.firstName+" "+el.lastName %>
                        </td>
                        <td>
                            <%= el.totalStories %> 
                        </td>
                        <td> <%= el.totalLikes %>  </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <% if (stories.length!==0) { %>
            <div class="likedHeaderBaap">
                <h5>Stories you wrote <%= numStories>stories.length ? ``: `(${numStories})`  %>: </h5>
                <a href="/stories/add"><button type="button" class="addstory-button"><i class="fa-solid fa-plus"></i></button></a>
                <a class="waves-effect waves-light btn btn-space"  onclick="toggleStories()"><span id="showHideStories" >Hide</span></a>

                <% if (numStories===stories.length && stories.length>5) { %>
                    <form action="/dashboard" method="GET">
                        <a class="waves-effect waves-light btn btn-space" onclick="handleClick()"><span class="hide-on-small">Show</span> Fewer</a>
                    </form>
                <% } %>
            </div>
            <table class="highlight dashboard-table" id="storiesTable">
                <thead>
                    <tr>
                        <th class="wrote-col-1">Title</th>
                        <th class="wrote-col-2 hide-on-small">Created</th>
                        <th class="wrote-col-3 hide-on-small">Updated</th>
                        <th class="wrote-col-4">Public</th>
                        <th class="wrote-col-5"></th>
                    </tr>
                </thead>
                <tbody>
                    <% stories.forEach(el => { %>
                        <tr>
                            <td><a href="stories/<%= el._id %>"  ><%= el.title%> </a> 
                                <% if (el.likes) { %>
                                    <span id="hello" class="public__votenum hide-on-small"><%= el.likes %> <%= el.likes===1 ? "like" : "likes" %> </span>
                                <% } %>
                                
                            </td>
                            <td class="hide-on-small"><%= formatTimeShort(el.createdAt) %> </td>
                            <td class="hide-on-small"><%= formatTimeShort(el.updatedAt) %> </td>
                            <td>
                                <form method = "POST" action="/stories/<%= el._id %>?_method=PATCH" </form>
                                    <div class="switch">
                                        <label>
                                          
                                          <input type="checkbox"  name="check" <%= el.status==="public" ? "checked": "" %> onchange="handleToggle()">
                                          <span class="lever"></span>
                                          
                                        </label>
                                    </div>
                                    <input type="hidden" name="status">
                                </form>
                            </td>
                            <td class="table-icons"><a href="stories/edit/<%= el._id %>" ><button type="button" class="submit-button"><i class="fas fa-edit"></i></button></a>
                            <form method="POST" action="/stories/<%= el._id %>?_method=DELETE"><button type="button" class="submit-button" onclick="handleDelete()"><i class="fa-solid fa-trash-can delete-icon"></i></button></form></td>
                        </tr>
                    <% }) %>
                    <% if (numStories>stories.length) { %>
                     <tr>
                        <td colspan="5" style="text-align: center;"> 
                            <form action="/dashboard" method="GET">
                                <input type="hidden" name="showAllWrote" value="1">
                                <a class="waves-effect waves-light btn" onclick="handleClick()">Show all <%= numStories %>  stories</a> 
                            </form> 
                        </td>            
                     </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <div class="likedHeaderBaap">
                <h5>You have not created any stories. Go ahead and create some!</h5>
                <a href="/stories/add"><button type="button" class="addstory-button"><i class="fa-solid fa-plus"></i></button></a>
            </div>
        <% } %>
        <% if (likedStories.length!==0) { %>

            <div class="likedHeaderBaap">
                <h5>Stories you liked <%= numLikedStories>likedStories.length ? ``: `(${numLikedStories})`  %>:</h5>
                <form method="GET" action="/stories" id="viewLiked">
                    <input type="hidden" name="sortby" value="YouLiked" >
                    <button type="button" class="submit-button"  onclick="viewLikedStories()"><i class="fas fa-folder-open"></i></button>
                </form>
                <form method="POST" action="/users/removeAllLikes?_method=PATCH"><button type="button" class="submit-button" onclick="handleClickDeleteAll()"><i class="fa-solid fa-trash-can delete-icon"></i></button></form>
                
                <a class="waves-effect waves-light btn btn-space" onclick="toggleLikes()"><span id="showHideLikes">Hide</span></a>
                <% if (numLikedStories===likedStories.length && likedStories.length>5) { %>
                    <form action="/dashboard" method="GET">
                        <a class="waves-effect waves-light btn btn-space" onclick="handleClick()"><span class="hide-on-small">Show</span> Fewer</a>
                    </form>
                <% } %> 
            </div>
            <div>
                <table class="highlight dashboard-table" id="likesTable">
                    <% for (let likedStory of likedStories ) { %>
                        <% if (likedStory.status==="public") { %>
                            <tr>
                                <td>
                                    <a href="stories/<%= likedStory._id %>" target="_blank"><%= likedStory.title %></a>
                                <% if (likedStory.likes) { %>
                                    <span id="hello" class="public__votenum"><%= likedStory.likes %> <%= likedStory.likes===1 ? "like" : "likes" %> </span>
                                <% } %>
                                
                                </td>
                                <td>
                                    <form method="POST" action="/users/removeLike?_method=PATCH">
                                        <input type="hidden" name="storyID" value="<%= likedStory._id %>">
                                        <span class="removeFromLikes" onclick="handleClick()"><i class='fa fa-remove removeFromLikesIcon'></i></span>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                    <% if (numLikedStories>likedStories.length) { %>
                        <tr>
                           <td colspan="2" style="text-align: center;"> 
                               <form action="/dashboard" method="GET">
                                <input type="hidden" name="showAllLiked" value="1">
                                   <a class="waves-effect waves-light btn" onclick="handleClick()">Show all <%= numLikedStories %>  likes</a> 
                               </form> 
                           </td>
                        </tr>
                       <% } %>
                </table>

            </div>

            <% } %>
    </div>

    <div class="fixed-action-btn">
        <a href="/stories/add" class="btn-floating btn-large waves-effect waves-purple red extra-button"><i class="fas fa-plus"></i></a>
    </div>
    <%- include('partials/footer.ejs') %> 
    <script>
        function handleToggle(){
            let checkbox = event.currentTarget
            let form =checkbox.parentNode.parentNode.parentNode
            checkbox.parentNode.parentNode.nextElementSibling.value = checkbox.checked ? "public" : "private"
            form.submit()
        }

        const handleDelete= () => {
            if (confirm("Are you sure you want to delete this?")){
                let form = event.currentTarget.parentNode
                form.submit()
            }
            let button = event.currentTarget
            button.style.backgroundColor="DodgerBlue"
            return false
        }

        function handleClick(){
            let formElement = event.currentTarget.parentNode
            formElement.submit()
        }

        function viewLikedStories(){
            const formElement = document.getElementById("viewLiked")
            formElement.submit()
        }
        
        function handleClickDeleteAll(){
            if (confirm("Are you sure you want to delete all your likes?")){
                let formElement = event.currentTarget.parentNode
                formElement.submit()
            }
            let button = event.currentTarget
            button.style.backgroundColor="DodgerBlue"
            return false
        }

        
        const toggle = (button, table) =>{
            let btnText = document.getElementById(button)
            let storyTable = document.getElementById(table)
            return () =>{
                    if (btnText.innerHTML === "Hide"){
                    storyTable.classList.add("hidden")
                    btnText.innerHTML = "Show"
                } else{
                    storyTable.classList.remove("hidden")
                    btnText.innerHTML = "Hide"
                } 
            }
        }

        const toggleStories = toggle("showHideStories", "storiesTable")
        const toggleLikes = toggle("showHideLikes", "likesTable")
        const toggleTrending = toggle("showHideTrendingStories", "trendingStoriesTable")


        document.addEventListener("DOMContentLoaded", function (event) {//stores current scroll position in session storage
            var scrollpos = sessionStorage.getItem('scrollpos');
            if (scrollpos) {
                window.scrollTo(0, scrollpos);
                sessionStorage.removeItem('scrollpos');
        }
        })

        window.addEventListener("beforeunload", function (e) {
            sessionStorage.setItem('scrollpos', window.scrollY);
        })

    </script>
</body>
</html>