<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>
    <title>Public Stories</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div class="indexpage-header">
                <div class="public-heading">
                    <h5>Public Stories</h5>
                </div>
                <div class="public-heading-rest">
                    <form action="/stories" method="get" id="switchView">
                        <input type="hidden" name="sortby" value=<%= sortby %> >
                        <input type="hidden" name="pageNumber" value=<%= pageNumber %> >
                        <span class="hide-on"><a style="cursor: pointer;" onclick="handleSwitchView()" ><span class="hide-on-small"> View as </span>Cards</a></span>
                    </form>
                    
                        <div class="top-panel">
                    
                            <form action="/stories" method="GET" id="sortOptions">
                                <input type="hidden" name="view" value="list"> <!-- adds ?view=list to the query-->
                                <select name="sortby" id="sortby" class="browser-default" onchange="handleSort()">
                                    <option value="LeastLikes" <%= sortby === "LeastLikes" ? "selected" : "" %> >Least Likes</option>
                                    <option value="MostLikes" <%= sortby === "MostLikes" ? "selected" : "" %> >Most Likes</option>
                                    <option value="Oldest"  <%= sortby === "Oldest" ? "selected" : "" %> >Oldest</option>
                                    <option value="Recent"  <%= sortby === "Recent" ? "selected" : "" %> >Recent</option>
                                    <% if (user.liked.length) { %>
                                        <option value="YouLiked"  <%= sortby === "YouLiked" ? "selected" : "" %> >You Liked</option>
                                    <% } %>
                                </select>
                            </form>
                        </div>
                        <div class="top-panel">
                            <% if (paginationData[paginationData.length-1][1]>6) { %>
                                <form action="/stories" method="GET" id="pagination">
                                    <% if (!(+pageNumber===1 ||  pageNumber === "all" )) { %>
                                        <button class="nav-button"  onclick="prevPage()"><i class="fa-solid fa-angles-left double-font-size" ></i></button>
                                    <% } else {%>
                                        <button disabled class="nav-button"  ><i class="fa-solid fa-angles-left double-font-size" ></i></button>
                                    <% } %>
                                    <input type="hidden" name="view" value="list"> <!-- adds ?view=list to the query-->
                                    <input type="hidden" name="sortby" value=<%= sortby %> >
                                    <select name="pageNumber" id="pageNumber" class="browser-default" onchange="handlePageSelect()">
                                        <% for( let index = 0; index < paginationData.length; index++ ) { %>
                                            <option value="<%= index+1 %>" <%= +pageNumber === index+1 ? "selected" : "" %>  ><%= paginationData[index][0] %>-<%= paginationData[index][1]%></option>
                                        <% } %>
                                        <option value="all" <%= pageNumber === "all" ? "selected" : "" %>  >All <%= numStories %></option>
                                    </select>
                                    <% if (!(+pageNumber ===paginationData.length || pageNumber === "all" )) { %>
                                        <button class="nav-button"  onclick="nextPage()"><i class="fa-solid fa-angles-right double-font-size" ></i></button>
                                    <% } else {%>
                                        <button class="nav-button"  disabled><i class="fa-solid fa-angles-right double-font-size" ></i></button>
                                    <% } %>
                                </form>
                            <% } %>
                        </div>
                </div>
            </div>
            <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
        </div>
            <div class="wrapper">
                <% for( let story of retrievedStories) { %>
                    <div class="story-row">
                        <div>
                            <p class="list-title"><a href="stories/<%= story.storyID %>" ><%= story.title %></a></p>
                            <p style="display: inline-block;"><a href="/users/profile/<%= story.user._id %> "><%= story.user.displayName %></a>  <%= story.updatedAt %> </p>
                        </div>
                        <div>
                            <div class="public__score">
                                <div class="public__arrows">
                                    <form method="POST" action="/users/addRemoveLike" >
                                        <input type="hidden" name="userid" value="<%=user._id%>">
                                        <input type="hidden" name="storyID" value="<%=story.storyID%>">
                                        <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story.storyID.toString())  ? 'fa-2xl': '' %>" style="color:#6E9A34; cursor: pointer;" onclick="handleClick()"></i>
                                    </form>
                                </div>
                                <span id="hello" class="public__votenum <%= story.likes ===0? "hidden": ""%>"><%= story.likes %>  <%= story.likes>1?"likes":"like" %></span>
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>
        


    </div>

<%- include('partials/footer.ejs') %> 
<script src="/js/publicViews.js"></script>


</body>
</html>