<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>
    <title>Public Stories</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div class="indexpage-header">
                <h3>Public Stories</h3>
                <form action="/stories" method="GET" id="switchView">
                    <input type="hidden" name="view" value="list">
                    <input type="hidden" name="sortby" value=<%= sortby %> >
                    <a style="cursor: pointer;" onclick="handleSwitchView()" > View as List</a>
                </form>
                
                
                    <div class="top-panel">
                        <form action="/stories" method="GET" id="sortOptions">
                            <select name="sortby" id="sortby" class="browser-default" onchange="handleSort()">
                                <option value="LeastLikes" <%= sortby === "LeastLikes" ? "selected" : "" %> >Least Likes</option>
                                <option value="MostLikes" <%= sortby === "MostLikes" ? "selected" : "" %> >Most Likes</option>
                                <option value="Oldest"  <%= sortby === "Oldest" ? "selected" : "" %> >Oldest</option>
                                <option value="Recent"  <%= sortby === "Recent" ? "selected" : "" %> >Recent</option>
                                <% if (user.liked.length) { %>
                                    <option value="YouLiked"  <%= sortby === "YouLiked" ? "selected" : "" %> >You Liked</option>
                                <% } %>
                            </select>
                        </form>
                    </div>
            </div>
            <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
        </div>
            <div class="story-holder">
                <% for( let story of retrievedStories) { %>
                    <div class="card">
                        <div class="card-image center-align">
                            <a href="stories/edit/<%= story.storyID %>" class="btn-floating halfway-fab blue <%= story.editIcon %>"><i class="fas fa-edit fa-2xl"></i></a>  
                        </div>
                        <div class="card-content center-align">
                            <h5><%= story.shortTitle %>  </h5>
                            <p><%= story.updatedAt %> </p>
                            <div class="story-body"><%- story.body %> </div>
                            <div class="chip">
                                <img src=<%= story.user.image %>  alt="user image" onerror="this.src='/images/generic-user.png';">
                                <a href="#"><%= story.user.displayName %> </a>
                            </div>
                        </div>
                        <div class="card-action center-align card-footer">
                            <a href="stories/<%= story.storyID %>" class="btn">Read More</a>
                        </div>
                        <div class="public__score">
                            <div class="public__arrows">
                                <form method="POST" action="/users/addRemoveLike" >
                                    <input type="hidden" name="userid" value="<%=user._id%>">
                                    <input type="hidden" name="storyID" value="<%=story.storyID%>">
                                    <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story.storyID.toString())  ? 'fa-2xl': '' %>" style="color: #6E9A34; cursor: pointer;" onclick="handleClick()"></i>
                                </form>
                            </div>
                            <span id="hello" class="public__votenum"><%= story.likes %>  likes</span>
                        </div>
                    </div>
                    <% } %>
            </div>
        


    </div>

<%- include('partials/footer.ejs') %> 
<script src="/js/publicViews.js"></script>


</body>
</html>