<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>
    <title>Public Stories</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div class="indexpage-header">
                <div class="public-heading">
                    <h5>Public Stories</h5>
                    <a class="hide-on-large" style="cursor: pointer;" onclick="handleSwitchView()" >List</a>
                </div>
                <div class="public-heading-rest">
                    <form action="/stories" method="GET" id="switchView">
                        <input type="hidden" name="view" value="list">
                        <input type="hidden" name="sortby" value=<%= sortby %> >
                        <input type="hidden" name="pageNumber" value=<%= pageNumber %> >
                        <a class="hide-on-small" style="cursor: pointer;" onclick="handleSwitchView()" > View as List</a>
                    </form>
                    
                    
                        <div class="top-panel">
                            <form action="/stories" method="GET" id="sortOptions">
                                <select name="sortby" id="sortby" class="browser-default" onchange="handleSort()">
                                    <option value="LeastLikes" <%= sortby === "LeastLikes" ? "selected" : "" %> >Least Likes</option>
                                    <option value="MostLikes" <%= sortby === "MostLikes" ? "selected" : "" %> >Most Likes</option>
                                    <option value="Oldest"  <%= sortby === "Oldest" ? "selected" : "" %> >Oldest</option>
                                    <option value="Recent"  <%= sortby === "Recent" ? "selected" : "" %> >Recent</option>
                                    <% if (user.liked.length) { %>
                                        <option value="YouLiked"  <%= sortby === "YouLiked" ? "selected" : "" %> >You Liked</option>
                                    <% } %>
                                </select>
                            </form>
                            <form action= "/stories" method="GET" id="filterByAuthor">
                                <select name="sortByAuthor" id="author" class="browser-default" style="margin-left:10px;" onchange="handleFilterByAuthor()"> 
                                    <option value="" <%=  sortByAuthor.toString() === "" ? "selected" : "" %> >All authors</option>
                                    <% for (let author of authors ) { %>
                                        <option value="<%=author._id %>" <%=  sortByAuthor.toString() === author._id.toString() ? "selected" : "" %> ><%= author.lastName%>, <%= author.firstName%> </option>
                                    <% } %>
                                </select>
                          </form>
                        </div>
                        <div class="top-panel">
                            <% if (paginationData[paginationData.length-1][1]>6) { %>
                    
                            <form action="/stories" method="GET" id="pagination">
                                <% if (!(+pageNumber===1 ||  pageNumber === "all" )) { %>
                                    <button class="nav-button" onclick="prevPage()"><i class="fa-solid fa-angles-left double-font-size" ></i></button>
                                <% } else {%>
                                    <button disabled class="nav-button"  ><i class="fa-solid fa-angles-left double-font-size" ></i></button>
                                <% } %>
                    
                                <input type="hidden" name="sortby" value=<%= sortby %> >
                                <select name="pageNumber" id="pageNumber" class="browser-default" onchange="handlePageSelect()">
                                    <% for( let index = 0; index < paginationData.length; index++ ) { %>
                                        <option value="<%= index+1 %>" <%= +pageNumber === index+1 ? "selected" : "" %>  ><%= paginationData[index][0] %>-<%= paginationData[index][1]%> </option>
                                    <% } %>
                                    <option value="all" <%= pageNumber === "all" ? "selected" : "" %>  >All <%= numStories %></option>
                                </select>
                                <% if (!(+pageNumber ===paginationData.length || pageNumber === "all" )) { %>
                                    <button class="nav-button" onclick="nextPage()"><i class="fa-solid fa-angles-right double-font-size" ></i></button>
                                <% } else {%>
                                    <button class="nav-button" disabled><i class="fa-solid fa-angles-right double-font-size" ></i></button>
                                <% } %>
                            </form>
                    
                            <% } %>
                        </div>
                </div>
            </div>
            <div class="public-heading-button">
                <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
            </div>
        </div>
            <div class="story-holder">
                <% for( let story of retrievedStories) { %>
                    <div class="card">
                        <div class="card-image center-align">
                            <a href="stories/edit/<%= story.storyID %>" class="btn-floating halfway-fab blue <%= story.editIcon %>"><i class="fas fa-edit fa-2xl"></i></a>  
                        </div>
                        <div class="card-content center-align">
                            <h5><%= story.shortTitle %>  </h5>
                            <p><%= story.updatedAt %> </p>
                            <div class="story-body"><%- story.body %> </div>
                            <div class="chip">
                                <img src=<%= story.user.image %>  alt="user image" onerror="this.src='/images/generic-user.png';">
                                <a href="/users/profile/<%= story.user._id %> "><%= story.user.displayName %> </a>
                            </div>
                        </div>
                        <div class="card-action center-align card-footer">
                            <a href="stories/<%= story.storyID %>" class="btn">Read More</a>
                        </div>
                        <div class="public__score">
                            <div class="public__arrows">
                                <form method="POST" action="/users/addRemoveLike" >
                                    <input type="hidden" name="userid" value="<%=user._id%>">
                                    <input type="hidden" name="storyID" value="<%=story.storyID%>">
                                    <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story.storyID.toString())  ? 'fa-2xl': '' %>" style="color: #6E9A34; cursor: pointer;" onclick="handleClick(event)"></i>
                                </form>
                            </div>
                            <span id="hello" class="public__votenum <%= story.likes === 0 ? "hidden": ""%>"><%= story.likes %>  <%= story.likes>1?"likes":"like" %></span>
                        </div>
                    </div>
                    <% } %>
            </div>
        


    </div>

<%- include('partials/footer.ejs') %> 
<script src="/js/publicViews.js"></script>
<script>
            const logout = () =>{
            if ("<%= user.role %>" === "guest") {
                Swal.fire({
                    title: 'All guest stories and likes will be deleted upon logout. Register or login to save your data.',
                    showDenyButton: true,
                    confirmButtonText: 'Logout',
                    denyButtonText: `Cancel`,
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "/auth/logout"
                        return
                    } 
            })
            } else{
                window.location.href = "/auth/logout"
            }
            
        }
</script>


</body>
</html>