<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>
    <title>Public Stories</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <div class="indexpage-header">
                <h3>Public Stories</h3>
                <a href="/stories"> View as Cards</a>
                
                    <div class="top-panel">
                        <form action="/stories" method="GET" id="sortOptions">
                            <input type="hidden" name="view" value="list">
                            <select name="sortby" id="sortby" class="browser-default" onchange="handleSort()">
                                <option value="Least Likes" <%= sortby === "Least Likes" ? "selected" : "" %> >Least Likes</option>
                                <option value="Most Likes" <%= sortby === "Most Likes" ? "selected" : "" %> >Most Likes</option>
                                <option value="Oldest"  <%= sortby === "Oldest" ? "selected" : "" %> >Oldest</option>
                                <option value="Recent"  <%= sortby === "Recent" ? "selected" : "" %> >Recent</option>
                            </select>
                        </form>
                    </div>
            </div>
            <a href="/dashboard" class="waves-effect waves-light btn">Dashboard</a>
        </div>
            <div class="wrapper">
                <% for( let story of retrievedStories) { %>
                    <div class="story-row">
                        <div>
                            <p class="list-title"><a href="stories/<%= story.storyID %>" ><%= story.title %></a></p>
                            <p style="display: inline-block;"><a href="#"><%= story.user.displayName %></a>  <%= story.updatedAt %> </p>
                        </div>
                        <div>
                            <div class="public__score">
                                <div class="public__arrows">
                                    <form method="POST" action="/users/addRemoveLike" >
                                        <input type="hidden" name="userid" value="<%=user._id%>">
                                        <input type="hidden" name="storyID" value="<%=story.storyID%>">
                                        <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story.storyID.toString())  ? 'fa-2xl': '' %>" style="color:#6E9A34; cursor: pointer;" onclick="handleClick()"></i>
                                    </form>
                                </div>
                                <span id="hello" class="public__votenum"><%= story.likes %>  likes</span>
                            </div>
                        </div>
                    </div>

                <% } %>

            </div>
        


    </div>

<%- include('partials/footer.ejs') %> 
<script src="/js/publicViews.js"></script>


</body>
</html>