<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet"> 

    <title>StoryBoard</title>
</head>
<body class="viewstory__body">
    <%- include('partials/nav.ejs') %> 
    <div class="container viewstory__container">
        <div class="viewstory__storyheader">
            <div class="table-icons">
                <div class="edit-btns <%= story.editIcon %> ">
                    <a href="/stories/edit/<%= story._id %>" ><button type="button" class="submit-button <%= story.editIcon %>"><i class="fas fa-edit"></i></button></a>
                    <form id="myform" method="POST" action="/stories/<%= story._id %>?_method=DELETE"><button type="button" class="submit-button <%= story.editIcon %>" onclick="handleDelete()"><i class="fa-solid fa-trash-can delete-icon"></i></button>
                </div>
                <a href="/dashboard"><button type="button" class="submit-button" onclick="handleDelete()">Dashboard</button></a>
                <a href="/stories"><button type="button" class="submit-button">Public<span class="hide-on-small"> Stories</span></button></a>

        </div>
            <div>
                <p class="viewstory__storytitle">
                    <%= story.title %>
                </p>

                <div>
                    <div><p class="viewstory__storyauthor">- <%= story.user.displayName %>, <%= formatTimeDateOnly(story.createdAt) %></p> </div>
                    <div>
                        <form id="addRemoveLike" method="POST" action="/users/addRemoveLike" >
                            <input id="userid" type="hidden" name="userid" value="<%=user._id%>">
                            <input id="storyID" type="hidden" name="storyID" value="<%=story._id%>">
                            <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story._id.toString())  ? 'fa-2xl': '' %>" style="color:#6E9A34; cursor: pointer;" onclick="handleClickViewStory(event)"></i>
                        </form>
                    </div>
                    <span id="votenum" class="public__votenum <%= story.likes ===0? "hidden": ""%>"><%= story.likes %>  <%= story.likes>1?"likes":"like" %></span>
                    
                </div>
            </div>
        </div>
        <div class="viewstory__storybody"><%- story.body %> </div>
    </div>
    <%- include('partials/footer.ejs') %> 
    
    <script src="/js/publicViews.js"></script>
    <script>
        const logout = () =>{
        if ("<%= user.role %>" === "guest") {
            if (confirm("Stories written and liked by guests will be deleted upon logout.")){
                window.location.href = "/auth/logout"
            }
        //     Swal.fire({
        //         title: 'All guest stories and likes will be deleted upon logout. Register or login to save your data.',
        //         showDenyButton: true,
        //         confirmButtonText: 'Logout',
        //         denyButtonText: `Cancel`,
        //         }).then((result) => {
        //         if (result.isConfirmed) {
        //             window.location.href = "/auth/logout"
        //             return
        //         } 
        // })
        } else {
                window.location.href = "/auth/logout"
            }
        
    }
    </script>
</body>
</html>