<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Offside&display=swap" rel="stylesheet"> 
    <title>StoryBoard</title>
</head>
<body>
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <div>
            <h3 class="storytitle"><%= story.title %> </h3>
        </div>
        <div class="storybody"><%- story.body %> </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>