<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Offside&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>StoryBoard</title>
</head>
<body class="viewstory__body">
    <%- include('partials/nav.ejs') %> 
    <div class="container viewstory__container">
        <div class="viewstory__storyheader">
            <div>
                <h3 class="viewstory__storytitle"><%= story.title %> </h3>
                <h5 class="viewstory__storytitle">- <%= story.user.displayName %> </h5>
            </div>
            <a href="/stories" class="waves-effect waves-light btn"><i class="large material-icons">arrow_back</i></a>
        </div>
        <div class="viewstory__storybody"><%- story.body %> </div>
    </div>
    <%- include('partials/footer.ejs') %> 
</body>
</html>