<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>

    <title>Author</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body class="viewstory__body">
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <div class="userpage__top-panel">
            <% if (author.image) { %>
                    <img class="img_profile" src="<%= author.image %> " alt="<%= author.displayName %> ">
            <% } %>

            <div class="header-box">
                <div>
                    <h3>Edit Your Profile</h3>
                    <a href="/users/profile/<%=author._id %>" class="waves-effect waves-purple btn-small hide-on-large-inline-block">View Profile</a>
                </div>
                <div class="navbtns">
                    <a href="/users/profile/<%=author._id %>" class="waves-effect waves-purple btn extra-button">View Profile</a>
                    <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
                    <a href="/stories" class="waves-effect waves-purple btn extra-button">Public Stories</a>
                </div>
            </div>
        </div>

        <div class="row">
            <form>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input placeholder="Placeholder" id="first_name" type="text" class="validate" value="<%= author.firstName %>">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                  <input id="last_name" type="text" class="validate" value="<%= author.lastName %>">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="text" >
                  <label for="image">Image Link</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
              </div>
            
            </form>
          </div>
          <a class="waves-effect waves-light btn" id="toggle-btn">Change Password</a>
          <div id="pwd-form" class="hidden">
            <form>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="password" type="password" class="validate">
                  <label for="password">New Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6">
                  <input id="password" type="password" class="validate">
                  <label for="password">Re-Enter Password</label>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
              </div>
            </form>
          </div>
        </div>


    </div>

    <%- include('../partials/footer.ejs') %> 
    <script>
        const logout = () =>{
        if ("<%= user.role %>" === "guest") {
            Swal.fire({
                title: 'All guest stories and likes will be deleted upon logout. Register or login to save your data.',
                showDenyButton: true,
                confirmButtonText: 'Logout',
                denyButtonText: `Cancel`,
                }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/auth/logout"
                    return
                } 
        })
        } else{
            window.location.href = "/auth/logout"
        }
        
    }

    const togglePwdForm = () =>{
          let pwdForm = document.getElementById("pwd-form")
          let toggler = document.getElementById("toggle-btn")
          pwdForm.classList.toggle("hidden")
        }
    </script>
</body>
</html>


    