<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>

    <title>Author</title>
</head>
<body class="viewstory__body">
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <div class="userpage__top-panel">
            <% if (author.image) { %>
                    <img class="img_profile" src="<%= author.image %> " alt="<%= author.displaName %> ">
            <% } %>

            <div class="header-box">
                <div>
                    <h3><%= author.firstName%> <%= author.lastName %></h3>
                </div>
                <div class="navbtns">
                    <a href="/dashboard" class="waves-effect waves-purple btn extra-button">Dashboard</a>
                    <a href="/stories" class="waves-effect waves-purple btn extra-button">Public Stories</a>
                </div>
            </div>
        </div>
        <div class="stories">
            <div class="row">
                <div class="col s12">
                    <% for( let index = 0; index < author.stories.length; index++ ) { %>
                        <div class="card">
                            <div>
                              <div class="space-between">
                                  <span class="list-title-bold"> <a href="/stories/<%= author.stories[index].storyID %>" ><%= author.stories[index].title %> </a></span>
                                  <% if (author.stories[index].likes) { %>
                                    <div class="viewStory_buttons">
                                        <span class="public__votenum hide-on-small"> <%= author.stories[index].likes %> <%= author.stories[index].likes===1 ? "like" : "likes" %> </span>
                                        <a class="waves-effect waves-light btn-small hide-on-small modal-trigger" href="#modal<%= index %>">Liked By</a>
                                    </div>
                                  <% } %>
                              </div>
                              <p>
                                <%= author.stories[index].createdAt %>
                                <% if (author.stories[index].likes) { %>
                                    <div class="viewStory_buttons">
                                        <span class="public__votenum hide-on-large"> <%= author.stories[index].likes %> <%= author.stories[index].likes===1 ? "like" : "likes" %> </span>
                                        <a class="waves-effect waves-light btn-small hide-on-large">Liked By</a>
                                    </div>
                                  <% } %>
                            </p>
                            </div>
                          </div>
                    
                    <% } %>
                </div>
              </div>


                <!-- Modal Structure -->
                <% for( let index = 0; index < author.stories.length; index++ ) { %>
                    <div id="modal<%= index %>" class="modal">
                        <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text <%= author.stories %> </p>
                        </div>
                        <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                <% } %>

        </div>

    </div>

    <%- include('../partials/footer.ejs') %> 
</body>
</html>


        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

        <!-- Modal Structure -->
        <!-- <div id="modal1" class="modal">
            <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div> -->