<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs'); %>
    <title>Stories</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <h1>Stories</h1>
            <div class="story-holder">
                <% for( let story of retrievedStories) { %>
                    <div class="card">
                        <div class="card-image center-align">
                            <a href="stories/<%= story.storyID %>" class="btn-floating halfway-fab blue <%= story.editIcon %>"><i class="fas fa-edit fa-2xl   "></i></a>  
                        </div>
                        <div class="card-content center-align">
                            <h5><%= story.title %>  </h5>
                            <p><%= story.createdAt %> </p>
                            <div class="story-body"><%- story.body %> </div>
                            <div class="chip">
                                <img src=<%= story.user.image %>  alt="user image">
                                <a href="#"><%= story.user.displayName %> </a>
                            </div>
                        </div>
                        <div class="card-action center-align">
                            <a href="#" class="btn">Read More</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        


    </div>

<%- include('../partials/footer.ejs') %> 

</body>
</html>