<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs'); %>
    <title>Public Stories</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <div class="header-box">
            <h3>Public Stories</h3>
            <a href="/dashboard" class="waves-effect waves-light btn extra-button">Dashboard</a>
        </div>
            <div class="story-holder">
                <% for( let story of retrievedStories) { %>
                    <div class="card">
                        <div class="card-image center-align">
                            <a href="stories/edit/<%= story.storyID %>" class="btn-floating halfway-fab blue <%= story.editIcon %>"><i class="fas fa-edit fa-2xl"></i></a>  
                        </div>
                        <div class="card-content center-align">
                            <h5><%= story.title %>  </h5>
                            <p><%= story.updatedAt %> </p>
                            <div class="story-body"><%- story.body %> </div>
                            <div class="chip">
                                <img src=<%= story.user.image %>  alt="user image" onerror="this.src='/images/generic-user.png';">
                                <a href="#"><%= story.user.displayName %> </a>
                            </div>
                        </div>
                        <div class="card-action center-align card-footer">
                            <a href="stories/<%= story.storyID %>" class="btn">Read More</a>
                        </div>
                        <div class="public__score">
                            <div class="public__arrows">
                                <form method="POST" action="/users/addRemoveLike?_method=PATCH" >
                                    <input type="hidden" name="userid" value="<%=story.user._id%>">
                                    <input type="hidden" name="storyID" value="<%=story.storyID%>">
                                    <i class="fas fa-thumbs-up <%= user.liked.map(el=>el.toString()).includes(story.storyID.toString())  ? 'fa-2xl': '' %>" style="color: limegreen; cursor: pointer;" onclick="handleClick()"></i>
                                    <div class="dummy"></div>
                                </form>
                            </div>
                            <span class="public__votenum"><%= story.likes %>  likes</span>
                        </div>
                    </div>
                    <% } %>
            </div>
        


    </div>

<%- include('../partials/footer.ejs') %> 
<script>
    const handleClick= ()=>{
        // event.preventDefault()
        const icon = event.currentTarget
        const formElement = icon.parentNode
        const inputField1 = icon.previousElementSibling.previousElementSibling
        const inputField2 = icon.previousElementSibling
        const outputField = icon.nextElementSibling
        


        
        //////WORKING XMLHTTP code
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/users/test', true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                // Request finished. Do processing here.
                const resp = JSON.parse(this.responseText)
                alert(`recd ${resp.data}, ${resp.status}`)
            }
        }
        xhr.send(`${inputField2.name}=${inputField2.value}`)
        
        // formElement.submit()
    }
</script>

</body>
</html>