<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs'); %>
    <title>Stories</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="container">
        <h1>Stories</h1>
            <div class="row">
                <% for( let story of retrievedStories) { %>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image center-align">
                            <i class="fas fa-edit fa-2xl"></i>
                        </div>
                        <div class="card-content center-align">
                            <h5><%= story.title %>  </h5>
                            <%- story.body %> 

                            <br>
                            <div class="chip">
                                <!-- <img src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg" alt="Gal" > -->
                                <!-- <img src="https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_1280.png" alt="No image"> -->
                                <img src=<%= story.user.image %>  alt="user image">
                                <a href="#"><%= story.user.displayName %> </a>
                            </div>
                        </div>
                        <div class="card-action center-align">
                            <a href="#" class="btn">Read More</a>
                        </div>
                    </div>
                </div>
                <% } %>
    
            </div>
        


    </div>

<%- include('../partials/footer.ejs') %> 

</body>
</html>